<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<th:block th:replace="~{layouts/commonHeader :: commonHeader}"></th:block>
<body>
    <div layout:fragment="html_body">
		<div id="" class="" name="">
			<div id="" class="" name="">
				<div id="" class="" name="">
					<input id="" class="" name="" type="text"/>	
				</div>
				<div id="" class="" name="">
					<input id="" class="" name="" type="password"/>
				</div>
				<div id="" class="" name="">
					<button id="" class="" name="">로그인</button>
				</div>
			</div>
			<div id="" class="" name="">
				<button id="regist" class="" name="regist">회원가입</button>
				<button id="" class="" name="">아이디찾기</button>
				<button id="" class="" name="">비밀번호찾기</button>
			</div>
		</div>
	</div>
</body>
<th:block th:replace="~{layouts/commonFooter :: commonFooter}"></th:block>
</html>

<script th:inline="javascript">
	$(function () {
		$('button[name="regist"]').click(function () {
			alert("111");
		})
	});	
</script>